<div class="div-bg-rs d-flex align-items-center">
    <div>
    <h1 class="ml-5">
        Bons momentos
        <br>
        podem <span class="fontbold">Receitas de Sucesso!</span>
        <br>
    </h1>
        <a class="footer ml-5" asp-action="Listar" asp-controller="Receita">Ver todas as receitas <i class="mdi mdi-arrow-right"></i></a><br>
    </div>
</div>

<div class="div-meio">
    <h2>O que você quer experimentar hoje?</h2>
    
</div>

<div class="d-flex flex-column flex-md-row">
    <div class="img-categorias img-categorias-doce" onclick="location.href='@Url.Action("Doces", "Receita")'">
        <div class="labeltop d-flex px-5">
            <h3>Doces <i class="mdi mdi-arrow-right mt-2"></i></h3>
        </div>
    </div>
    <div class="img-categorias img-categorias-salgado" onclick="location.href='@Url.Action("Salgados", "Receita")'">
        <div class="labeltop d-flex px-5">
            <h3>Salgados <i class="mdi mdi-arrow-right mt-2"></i></h3>
        </div>
    </div>
</div>


