
<p class="aligncenter">
    <img src="~/imgs/logo-receitas-de-sucesso.png" width="500" height="500" alt="centered image"/>
</p>

<p class="aligncenter">
    <button class="btn shiny-btn" onclick="location.href='@Url.Action("CadastrarReceita", "Receita")'">Cadastrar Receita</button>
    <button class="btn shiny-btn" onclick="location.href='@Url.Action("ConsultarReceita", "Receita")'">Consultar</button>
</p>