
<p class="aligncenter">
    <img src="~/imgs/logo-receitas-de-sucesso.png" width="500" height="500" alt="centered image"/>
</p>

<p class="aligncenter">
    <button class="btn" onclick="location.href='@Url.Action("CadastroReceita", "Receita")'">Cadastrar Receita</button>
    <button class="btn" onclick="location.href='@Url.Action("Receita", "Receita")'">Consultar</button>
</p>