@model ReceitasDeSucesso.Models.Receita

@{
    ViewData["Title"] = "Cadastro de uma nova Receita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar uma nova receita</h1>

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroReceita">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredientes" class="control-label"></label>
                <input asp-for="Ingredientes" class="form-control" />
                <span asp-validation-for="Ingredientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModoDePreparo" class="control-label"></label>
                <input asp-for="ModoDePreparo" class="form-control" />
                <span asp-validation-for="ModoDePreparo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <hr />
            <h4>Categoria da Receita</h4>
            <div class="form-group">
                <label asp-for="Categoria.Titulo" class="control-label"></label>
                <input asp-for="Categoria.Titulo" class="form-control" />
                <span asp-validation-for="Categoria.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.Descricao" class="control-label"></label>
                <input asp-for="Categoria.Descricao" class="form-control" />
                <span asp-validation-for="Categoria.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @TempData["message"]
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




